BasedOnStyle: LLVM
IndentWidth: 4
BinPackArguments: false  # Do not pack arguments into a single line
AllowAllArgumentsOnNextLine: true  # Allow breaking argument lists
AllowAllParametersOfDeclarationOnNextLine: true  # Allow breaking parameter lists