# Backup files
*~

# Generated header files
config.h

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.app

# CMake files
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
*.cmake
compile_commands.json
build/*

# Flatpak artifacts
.flatpak-builder
flatpak/build-dir/

# ccls cache
.ccls-cache/
.cache/

# OS files
.DS_Store
