<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    android:installLocation="auto"
	>

	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application android:icon="@drawable/ic_launcher" android:label="MultiVNC" android:hardwareAccelerated="true"
		 android:theme="@style/AppTheme"
		>

		<activity android:label="@string/app_name"
		          android:name=".ui.MainMenuActivity"
			      android:exported="true"
		    	  >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity  android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout" android:name=".ui.VncCanvasActivity" android:launchMode="singleTask"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
			</intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="vnc" />
            </intent-filter>
		</activity>
       <activity android:name=".ui.ConnectionListActivity"
                 android:label="@string/shortcut_label"
		         android:exported="true"
                 >
        	<intent-filter>
        		<action android:name="android.intent.action.CREATE_SHORTCUT" />
        		<category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity>

        <activity android:name=".ui.ConnectionEditActivity"
            android:label="@string/editbookmark_title"
            >
       	</activity>

        <activity android:name=".ui.AboutActivity"
             android:label="@string/about"
             >
		</activity>

         <activity android:name=".ui.HelpActivity"
             android:label="@string/help"
             >
		</activity>

        <service
            android:enabled="true"
			android:exported="false"
            android:name=".MDNSService" >
        </service>

        <service
            android:enabled="true"
            android:exported="false"
            android:name=".ui.VNCConnService"
			android:foregroundServiceType="connectedDevice">
        </service>

    </application>

</manifest>
