Source: multivnc
Section: utils
Priority: extra
Maintainer: Christian Beier <dontmind@freeshell.org>
Build-Depends: debhelper (>= 7), autotools-dev, libwxgtk2.8-dev
Standards-Version: 3.7.3
Homepage: http://sourceforge.net/projects/multivnc/

Package: multivnc
Architecture: any
Depends: ${shlibs:Depends}, x11vnc
Description: Multicast enabled VNC viewer
 MultiVNC is a cross-platform Multicast-enabled VNC client using wxWidgets 
 and libvncclient . It runs on Unix, Mac OS X and Windows.

