/*
    this is for all elements of these types
*/

 body {
   background-color: #222222;
 }

 img {border:0; margin:1%;}

 a:link { color: #FFCC00 }
 a:visited { color: #FF9900 }
 a:active { color: #33CC00 }



/*
    here are classes not bound to types
*/

 .content {
   color: #CCCCCC;    
   background-color: #444444;
   font-family:sans-serif;

   margin-left: 15%;
   margin-right: 15%;
   
   padding: 2% 5%;
 }

 .hlbox { 
    color: #444444; 
    background-color: #DDDDDD; 
    padding:1mm 2mm;
  }

 .hl { 
    color: #EE1111; 
    font-weight: bold;
  }

 .blogtitle { 
    font-family: Verdana,Geneva,Arial,Sans-serif;
    font-weight: normal;
    margin: 0 0 0 0;
    font-size: 100%;
    text-decoration: underline;
  }


 .indent {
   margin-left: 3%;
   margin-right: 3%;   
 }

 .center {
   text-align: center;
 }

 
 .rfloat {
   float:right;
   text-align: center;
   font-size: smaller;
   font-style:italic;
   margin-left: 4%;
   margin-bottom: 1%;
 } 
 
 .lfloat {
   float:left;
   text-align: center;
   font-size: smaller;
   font-style:italic;
   margin-right: 4%;
   margin-bottom: 1%;
 } 


 .clearer {
   clear:both;
 } 

     
 .w20 {
  width:20%;
 }
 
 .w30 {
  width:30%;
 }


 .w50 {
   width:50%;
 }  

 .w100 {
   width:100%;     
 }  
 
 
/* IE 7 hack */
*:first-child+html table .w100 {
   width: 20em;
}


 

/*
    and finally classes of types
*/

 a.button:link { color: #333333; background-color: #FFCC00; padding: 0.5ex;}
 a.button:visited { color: #333333; background-color: #FF9900; padding: 0.5ex; }
 a.button:active { color: #333333; background-color: #33CC00; padding: 0.5ex; }


 table.navi { 
    width:100%;
    color: #444444; 
    background-color: #DDDDDD; 
    padding: 2mm 3mm;
  }
 table.navi a:link { color: #444444; background-color: #ffCC00; padding: 1mm 3mm;}
 table.navi a:visited { color: #444444; background-color: #FF9900; padding: 1mm 3mm; }
 table.navi a:active { color: #333333; background-color: #33CC00; padding: 1mm 3mm; }

 td.sidebar { 
    width: 10%;
    border-left-width:1px;
    border-left-style:solid;
    border-color: #CCCCCC;
    padding: 0px;
    margin: 0px;
  }

  pre.code { 
    color: #FFFFFF; 
    background-color: #666666; 
    padding:1mm 2mm;
    white-space: pre-wrap;
 }


 

