[Desktop Entry]
Encoding=UTF-8
Exec=multivnc
Icon=net.christianbeier.MultiVNC
Name=MultiVNC
Type=Application
Comment=A multicast enabled VNC viewer
Terminal=false
StartupNotify=false
Categories=Application;Network;

