name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        include:
          - os: macos-latest
            cmake_options: "-DCMAKE_TOOLCHAIN_FILE=conan_toolchain.cmake -DCMAKE_BUILD_TYPE=Debug"
          - os: windows-latest
            cmake_options: "-DCMAKE_TOOLCHAIN_FILE=conan_toolchain.cmake"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'
      - name: Check translations
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          for f in po/*.po; do grep -LE '^msgid "translator-credits"' $f ; done
      - name: Install Conan
        uses: conan-io/setup-conan@v1
        with:
          cache_packages: 'true'
      - name: Install Ubuntu Build Dependencies
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          sudo apt update
          sudo apt install gettext zlib1g-dev libwxgtk3.2-dev libgtk-3-dev libssl-dev libssh2-1-dev libsasl2-dev liblzo2-dev
      - name: Install MacOS Build Dependencies
        if: ${{ matrix.os == 'macos-latest' }}
        run: |
          conan install . --output-folder=build --build=missing --settings=build_type=Debug
      - name: Install Windows Build Dependencies
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          # nsis, for CPack
          choco install nsis
          conan install . --output-folder=build --build=missing --settings=build_type=Debug
      - name: Build
        shell: bash
        run: |
          mkdir -p build
          cd build
          cmake ${{ matrix.cmake_options }} ..
          cmake --build .
          cpack -V -C Debug
      - name: Archive Ubuntu Build Artifacts
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: actions/upload-artifact@v4
        with:
          name: MultiVNC Debian Package
          path: build/*.deb
      - name: Archive MacOS Build Artifacts
        if: ${{ matrix.os == 'macos-latest' }}
        uses: actions/upload-artifact@v4
        with:
          name: MultiVNC MacOS Package
          path: build/*.dmg
      - name: Archive Windows Build Artifacts
        if: ${{ matrix.os == 'windows-latest' }}
        uses: actions/upload-artifact@v4
        with:
          name: MultiVNC Windows Package
          path: build/*.exe
